body {
    margin: .5rem;
}
h1 {
    background-color: rgba(91, 164, 206, 0.671);
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem;
}
h3 {
    border-bottom: .2rem solid white;
}
#article-container {
    background-color: rgba(39, 69, 75, 0.603);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1rem solid rgba(14, 26, 27, 0.5);
    color: #fff;
    font-size: 1.5rem;
}

p {
    text-align: center;
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
form input[type=text] {
    background-color:  rgba(91, 164, 206, 0.671);
    width: 30vw;
    height: 5vh;
    font-size: 1.5rem;
    border: .2rem solid white;
    border-radius: 2rem;
    color: white;
    outline: none;
    cursor: pointer;
}
form input[type=submit] {
    width: 10vw;
    height: 5vh;
    border-radius: 2rem;
    background-color:  rgba(91, 164, 206, 0.671);
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    border: .2rem solid rgb(61, 58, 58);
    outline:none;
    margin-left: 1rem;
}